# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Secrets
.env
secrets.txt

# OS
.DS_Store
Thumbs.db

# Project specific
Appunti.txt/
*.log
node_modules/
bun.lockb
match-insights-hub-temp/
